# Importing Data

In [159]:
import numpy as np
import pandas as pd
import seaborn as sns

from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [160]:
groups_raw = pd.read_csv("EmazeMeGroups.csv")
groups_raw.head()

,GroupID,GroupName,Admin,Privecy,Visibility,priority,varified,AssociatedGroupsJson,ModeratorsJson,DateCreated,DateUpdated,AboutGroup,EmazeSite,GroupCoverUrl,GroupPhotoUrl,SiteThumnail
0,1,BeitarJerusalem,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,1,0,0,0,NaN,NaN,2020-04-05 10:27:38.0531290,2020-04-05 10:27:38.0531290,Group of Beitar players,https://emaze.me/diogoverdasca,//userscontent2.emaze.com/userinfo//cover/2dc9...,//userscontent2.emaze.com/userinfo//image/7c4d...,//storage.googleapis.com/userscontent2.emaze.c...
1,2,BeitarFans,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,1,0,0,0,NaN,NaN,2020-04-05 10:27:38.0531290,2020-04-05 10:27:38.0531290,Group for fans of Beitar Jerusalem f.c.,NaN,//userscontent2.emaze.com/userinfo//cover/b397...,//userscontent2.emaze.com/userinfo//image/1e5a...,NaN
2,3,newgroupwithdate2,NaN,0,0,0,0,NaN,NaN,2020-04-05 12:00:36.2022096,2020-04-05 12:00:36.2022096,NaN,NaN,NaN,NaN,NaN
3,4,another-group,NaN,0,0,0,0,NaN,NaN,2020-04-20 08:57:01.8046276,2020-04-20 08:57:01.8046276,NaN,NaN,NaN,NaN,NaN
4,5,"""""",NaN,0,0,0,0,NaN,NaN,2020-04-20 10:44:39.2241056,2020-04-20 10:44:39.2241056,NaN,NaN,NaN,NaN,NaN

In [161]:
followers_raw = pd.read_csv("EmazeMeGroupFollowers.csv")
followers_raw.head()

,FollowId,FollowerId,EmazeMeGroupId,FollowingSince
0,3,240238a0-ce99-4ea7-ac77-eff09fb5eff2,1,0001-01-03 00:00:00.000
1,4,240238a0-ce99-4ea7-ac77-eff09fb5eff2,2,0001-01-03 00:00:00.000
2,5,e9477dec-c960-4f11-a563-9781cf8b1c15,1,0001-01-03 00:00:00.000
3,6,e9477dec-c960-4f11-a563-9781cf8b1c15,2,0001-01-03 00:00:00.000
4,7,93aff917-ec28-4201-b1d2-788e275671b2,1,0001-01-03 00:00:00.000

In [162]:
members_raw = pd.read_csv("EmazeMeGroupMembers.csv")
members_raw.head()

,FollowId,MemberId,EmazeMeGroupId,MemberSince
0,2,240238a0-ce99-4ea7-ac77-eff09fb5eff2,2,0001-01-03 00:00:00.000
1,3,e9477dec-c960-4f11-a563-9781cf8b1c15,2,0001-01-03 00:00:00.000
2,4,93aff917-ec28-4201-b1d2-788e275671b2,2,0001-01-03 00:00:00.000
3,5,41274e54-612f-4b03-9461-63ae9c74ab07,2,0001-01-03 00:00:00.000
4,6,371088ec-ccd9-4c1e-acb3-6c3b43c84627,2,0001-01-03 00:00:00.000

In [163]:
pending_raw = pd.read_csv('EmazeMeGroupPendingMembers.csv')
pending_raw.head()

   FollowId                              MemberId  EmazeMeGroupId
0        60  57388fef-9814-4163-8a8a-b676bfb85801               2
1        64  311ff7ca-d05c-4ac3-820a-9c0fc4228d59               2
2        65  c5913a2c-521d-43aa-b031-bb869cea175d               2
3        66  3199cab4-ee6d-4a7e-b629-7c4adf5f5fb4               2
4        67  a0086ebc-c7da-414b-b56f-1db40c1bcdd0               2

In [164]:
templates_raw = pd.read_csv('EmazeMeGroupFromTemplate.csv')
templates_raw.head()

   CampaignID  GroupID  customThemeID  CampaignType
0           1        1          48919             0
1           2        1          48922             0
2           3        1          48921             0
3           4        1          48920             0
4           5        1          48931             0

In [165]:
users_raw = pd.read_csv('Mini_InfoOfUsers.csv')
users_raw.head()

/Users/elysemigdal/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (18,26,34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,InfoId,UserId,Email,FirstName,LastName,Telephone,CompanyName,Address,CountryName,IpAddress,...,PricingSource,RecurringCycle,TrialPeriod,PublicEmail,WebSite,UserFotoUrl,UserCoverUrl,Description,Industry,PaymentStatus
0,3207030,45f12908-b14d-48ac-9a32-74fd3ddce869,tanmayi.k@gmail.com,tanmayi.k,NaN,NaN,NaN,NaN,NaN,98.206.236.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High School Student,NaN
1,3207031,d7538250-4f20-4fe6-afbb-530a3572c3fb,victoriaeesmall@gmail.com,victoriaeesmall,NaN,NaN,NaN,NaN,NaN,99.234.116.252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High School Student,NaN
2,3207032,d9b69a62-0be8-4715-a153-472c318434c5,335983953@educ.dpcdsb.org,335983953,NaN,NaN,NaN,NaN,NaN,174.118.111.101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Middle School Student,NaN
3,3207033,eb582c3a-4004-4f0b-98b6-71f16210e2dd,jashawnbarker@yahoo.com,jashawnbarker,NaN,NaN,NaN,NaN,NaN,72.48.202.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University Professor,NaN
4,3207034,e4e04ad6-aaaf-4cfe-b233-2446831eacc5,brianortegabuenrostro@hotmail.com,brianortegabuenrostro,NaN,NaN,NaN,NaN,NaN,189.222.39.120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Estudiante Universitario,NaN

In [166]:
users_raw.columns

Index(['InfoId', 'UserId', 'Email', 'FirstName', 'LastName', 'Telephone',
       'CompanyName', 'Address', 'CountryName', 'IpAddress', 'CountryCode',
       'AffiliateId', 'SubId', 'RegisterDate', 'LastLoginDate', 'Status',
       'PremiumStartDate', 'PremiumEndDate', 'PaymentProcessor',
       'PaymentReference', 'CampaignId', 'Alias', 'InitialPaymentAmount',
       'RecurringPaymentAmount', 'Funnel', 'PricingSource', 'RecurringCycle',
       'TrialPeriod', 'PublicEmail', 'WebSite', 'UserFotoUrl', 'UserCoverUrl',
       'Description', 'Industry', 'PaymentStatus'],
      dtype='object')

# Cleaning and Combining Datasets

In [167]:
members_raw.columns

Index(['FollowId', 'MemberId', 'EmazeMeGroupId', 'MemberSince'], dtype='object')

In [168]:
members_raw.dtypes

FollowId           int64
MemberId          object
EmazeMeGroupId     int64
MemberSince       object
dtype: object

In [175]:
members.drop(members.index[3:11])

,FollowId,MemberId,GroupID,MemberSince
12,107,69664288-28e9-4cef-b460-47dded38e63e,13,2020-05-17 12:51:48.486481200
13,108,c2f3ffb5-01c4-4669-9579-4bd5569bb24f,13,2020-05-17 12:58:51.163535400
14,109,a328005f-1ca5-4c79-961f-4eab118a32ab,13,2020-05-17 12:59:45.038658800
23,118,064a8e78-6e28-4c75-813f-50b87b1aa7d3,1,2020-05-24 13:55:26.209299800
24,119,e1a57616-6a63-48ea-ab79-61668247b336,1,2020-05-24 13:55:33.213829400
...,...,...,...,...
307,405,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,31,2020-06-10 12:01:31.544403900
308,406,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,32,2020-06-10 12:16:42.683108200
309,407,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,37,2020-06-10 13:04:36.686232000
310,408,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,38,2020-06-10 13:12:43.341165100
311,409,a328005f-1ca5-4c79-961f-4eab118a32ab,2,2020-06-10 13:16:54.821153400

In [177]:
members.MemberSince = pd.to_datetime(members['MemberSince'])
members.dtypes

FollowId                int64
MemberId               object
GroupID                 int64
MemberSince    datetime64[ns]
dtype: object

In [170]:
members.rename(columns={'EmazeMeGroupId': 'GroupID'}, inplace=True)

In [180]:
pending = pending_raw
pending.columns

Index(['FollowId', 'MemberId', 'EmazeMeGroupId'], dtype='object')

In [186]:
pending.rename(columns={'EmazeMeGroupId': 'GroupID'}, inplace=True)

In [187]:
groups_raw.columns

Index(['GroupID', 'GroupName', 'Admin', 'Privecy', 'Visibility', 'priority',
       'varified', 'AssociatedGroupsJson', 'ModeratorsJson', 'DateCreated',
       'DateUpdated', 'AboutGroup', 'EmazeSite', 'GroupCoverUrl',
       'GroupPhotoUrl', 'SiteThumnail'],
      dtype='object')

In [188]:
groups_raw.DateCreated = pd.to_datetime(groups['DateCreated'])
groups_raw.DateUpdated = pd.to_datetime(groups['DateUpdated'])
print(groups_raw.dtypes)

GroupID                          int64
GroupName                       object
Admin                           object
Privecy                          int64
Visibility                       int64
priority                         int64
varified                         int64
AssociatedGroupsJson           float64
ModeratorsJson                 float64
DateCreated             datetime64[ns]
DateUpdated             datetime64[ns]
AboutGroup                      object
EmazeSite                       object
GroupCoverUrl                   object
GroupPhotoUrl                   object
SiteThumnail                    object
dtype: object

In [189]:
deletegroups = ['priority', 'varified', 'AssociatedGroupsJson', 'ModeratorsJson',
                'EmazeSite', 'GroupCoverUrl', 'GroupPhotoUrl', 'SiteThumnail']

groups = groups_raw.drop(deletegroups, axis=1)
groups.rename(columns={'Privecy': 'Privacy'}, inplace=True)
groups.head()

,GroupID,GroupName,Admin,Privacy,Visibility,DateCreated,DateUpdated,AboutGroup
0,1,BeitarJerusalem,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,1,0,2020-04-05 10:27:38.053129000,2020-04-05 10:27:38.053129000,Group of Beitar players
1,2,BeitarFans,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,1,0,2020-04-05 10:27:38.053129000,2020-04-05 10:27:38.053129000,Group for fans of Beitar Jerusalem f.c.
2,3,newgroupwithdate2,NaN,0,0,2020-04-05 12:00:36.202209600,2020-04-05 12:00:36.202209600,NaN
3,4,another-group,NaN,0,0,2020-04-20 08:57:01.804627600,2020-04-20 08:57:01.804627600,NaN
4,5,"""""",NaN,0,0,2020-04-20 10:44:39.224105600,2020-04-20 10:44:39.224105600,NaN

In [192]:
data = pd.concat([groups, members, pending],ignore_index=True)
data.head()

,GroupID,GroupName,Admin,Privacy,Visibility,DateCreated,DateUpdated,AboutGroup,FollowId,MemberId,MemberSince
0,1,BeitarJerusalem,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,1.0,0.0,2020-04-05 10:27:38.053129000,2020-04-05 10:27:38.053129000,Group of Beitar players,NaN,NaN,NaT
1,2,BeitarFans,d1f13501-60bf-4dd8-b6e8-c11d2f8eab8c,1.0,0.0,2020-04-05 10:27:38.053129000,2020-04-05 10:27:38.053129000,Group for fans of Beitar Jerusalem f.c.,NaN,NaN,NaT
2,3,newgroupwithdate2,NaN,0.0,0.0,2020-04-05 12:00:36.202209600,2020-04-05 12:00:36.202209600,NaN,NaN,NaN,NaT
3,4,another-group,NaN,0.0,0.0,2020-04-20 08:57:01.804627600,2020-04-20 08:57:01.804627600,NaN,NaN,NaN,NaT
4,5,"""""",NaN,0.0,0.0,2020-04-20 10:44:39.224105600,2020-04-20 10:44:39.224105600,NaN,NaN,NaN,NaT

# Exploratory Data Analysis

In [221]:
privacy = data.set_index('Privacy')
mapping = {0.0: 'Public', 1.0: 'Closed', 2.0: 'Private'}
privacy.groupby(mapping).count()

,GroupID,GroupName,Admin,Visibility,DateCreated,DateUpdated,AboutGroup,FollowId,MemberId,MemberSince
Closed,3,3,3,3,3,3,2,0,0,0
Private,1,1,1,1,1,1,0,0,0,0
Public,34,34,29,34,34,34,12,0,0,0

In [222]:
visibility = data.set_index('Visibility')
mapping = {0.0: 'Visible', 1.0: 'Hidden'}
visibility.groupby(mapping).count()

,GroupID,GroupName,Admin,Privacy,DateCreated,DateUpdated,AboutGroup,FollowId,MemberId,MemberSince
Visible,38,38,33,38,38,38,14,0,0,0

In [214]:
number_members = data.groupby('GroupID')['MemberId'].count()
number_members.sort_values(ascending=False)

GroupID
19    79
22    56
2     45
1     26
24    24
23    21
21    20
15    18
20    13
17    11
26    11
14     7
16     6
13     4
37     1
38     1
30     1
31     1
32     1
35     0
9      0
36     0
3      0
4      0
5      0
6      0
7      0
8      0
11     0
10     0
25     0
12     0
29     0
33     0
18     0
28     0
27     0
34     0
Name: MemberId, dtype: int64

In [216]:
data.groupby('MemberId')['GroupID'].count()

MemberId
00b1d361-9409-4061-a83d-a0c450e5d6d2    1
00ff4170-43c5-4937-8004-e79385024b85    2
064a8e78-6e28-4c75-813f-50b87b1aa7d3    2
0756aeff-9de6-4fe2-8f72-d93d8b7aca40    1
07892fa7-530b-4817-bc03-5438eaa3318c    2
                                       ..
fbd9fc95-9d77-493f-842d-cbd5e8a72baf    1
fc647fca-2dfe-43de-8731-c3e2920269f7    1
fecb242b-2f22-40f2-a8a5-ad13450c3dd3    2
feee3f80-8a84-4c79-899d-f5afb5b246be    1
ff4a690a-45cd-468e-8b8d-0d132de3ef6c    1
Name: GroupID, Length: 228, dtype: int64